{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Calzas
{% endblock %}

{% block content %}

    <h3 align="center">Calzas</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Triangulos</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #644</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1500
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Rosa Cebra</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #620</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Gris Cebra</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Lycra <br><b>Codigo</b> : #618</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Corta Negra</h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Lycra <br><b>Codigo</b> : #673</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $890
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Rosa Lineas</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Lycra <br><b>Codigo</b> : #653</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1250
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Gris</h5>
            <p class="card-text"><b>Talles :</b> S,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #612</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1299
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Cebra</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #661</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1150
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Negra</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #615</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1000
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Formas</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #632</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1300
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Rayos</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Lycra <br><b>Codigo</b> : #686</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1420
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Rayada</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #625</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1300
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Animal Print</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Lycra <br><b>Codigo</b> : #648</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1250
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Nike</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Lycra <br><b>Codigo</b> : #605</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1500
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Larga Bicolor</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #679</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1399
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/calzas/calza15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calza Tradicional</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Lycra <br><b>Codigo</b> : #611</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1050
            </button>
        </div>
    </div>


{% endblock %}


