{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Joggins
{% endblock %}

{% block content %}

    <h3 align="center">Joggins</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Negro</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #710</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $670
            </button>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Violeta</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #721</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $700
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Negro Cordon</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #755</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $699    
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Gris</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #702</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $670
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Gris Opaco</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #784</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $720
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin N/C </h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #715</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $750
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta x</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #455</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Azul</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #767</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $810
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Nota Musical</h5>
            <p class="card-text"><b>Talles :</b> L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #790</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $900
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Mariposas</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #783</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Tricolor</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #708</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $799
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Negro Girl</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #722</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $850
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Azul Gap</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #748</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $750
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Verde Oliva</h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #785</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $999
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/joggins/joggin15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Adidas</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #700</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1100
            </button>
        </div>
    </div>


{% endblock %}


