{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Pijamas
{% endblock %}

{% block content %}

    <h3 align="center">Pijamas</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Tweety</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #805</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1700
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Alicia</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon <br><b>Codigo</b> : #811</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1800
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Kitty</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #817</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1700
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Coraje</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #822</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1850
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Tom y Jerry</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #885</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1790
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Pato Lucas</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon <br><b>Codigo</b> : #890</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1900
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Betty Boop</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon <br><b>Codigo</b> : #872</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1850
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Lilo</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #899</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1699
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Cerdito</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #834</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1720
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Netflix</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon <br><b>Codigo</b> : #873</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1950
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Lilo & Stich</h5>
            <p class="card-text"><b>Talles :</b> SM,L<br><b>Material :</b> Algodon <br><b>Codigo</b> : #809</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1750
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Coffe</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #883</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1599
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Lunares</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #821</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1950
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Corazones</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon <br><b>Codigo</b> : #849</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1699
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/pijamas/pijama15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pijama Marinero</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodon <br><b>Codigo</b> : #857</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1920
            </button>
        </div>
    </div>


{% endblock %}


