{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Jeans
{% endblock %}

{% block content %}

    <h3 align="center">Jeans</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean clasico cortado </h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #057</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1300
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Tiro Alto</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #009</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1500
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Tiro Alto cortado</h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #070</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1299
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean azul Tiro Alto</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #042</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1400
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean5.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Mom claro</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #095</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1650
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean6.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean negro Tiro Alto</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #083</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1280
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean7.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean azul Mom</h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #092</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1450
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean8.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean celelste Mom </h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #023</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1100
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean9.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Oxford claro</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #064</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1700
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean10.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Mom tiro alto</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #004</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1550
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean11.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean claro Tiro Alto</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #089</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1399
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean12.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean cortado Tiro Alto</h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #017</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1590
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean13.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean negro Oxford</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #025</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1490
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean14.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Elastizado</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #066</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1750
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/jeans/jean15.png'  %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Mom celeste</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #100</br></p> 
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1850
            </button>
        </div>
    </div>


{% endblock %}

