{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Remeras
{% endblock %}

{% block content %}

    <h3 align="center">Remeras</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera ojo isis</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #327</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/carrusel/remera1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Tom y Jerry</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón/Lycra <br><b>Codigo</b> : #455</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $920
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/carrusel/remera2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Juicy</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL,XXL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #421</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $799
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/carrusel/remera3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Tigre</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #405</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $750
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/carrusel/remera4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Snoopy</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #372</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $999
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/carrusel/remera5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Drink</h5>
            <p class="card-text"><b>Talles :</b> S,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #350</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $900
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Anime</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #323</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $850
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Honey</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #412</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $699
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Stones</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL,XXL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #469</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $770
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Marge</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #482</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1199
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Bugs </h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #309</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1199
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Frida</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #317</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $880
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Rockstar</h5>
            <p class="card-text"><b>Talles :</b> S,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #377</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $690
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Pluma</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #443</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $590
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/mujer/remeras/remera14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Aerosmith</h5>
            <p class="card-text"><b>Talles :</b> S,L,XL,XXL<br><b>Material :</b> Algodón/Lycra  <br><b>Codigo :</b> #414</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $700
            </button>
        </div>
    </div>


{% endblock %}