{% extends 'layouts/layoutusuario.html' %}

{% load static %}


{% block title %}
    | Bandoleras
{% endblock %}

{% block content %}

    <h4 align="center">Bandoleras</h4>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/accesorios/bandoleras/bandolera1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bandolera Blanca</h5>
            <p class="card-text"><b>Talles :</b> único<br><b>Material :</b> Cuerina <br><b>Codigo</b> : #1002</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $899
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/accesorios/bandoleras/bandolera2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bandolera Floreada</h5>
            <p class="card-text"><b>Talles :</b> único<br><b>Material :</b> Cuerina <br><b>Codigo</b> : #1050</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1100
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/accesorios/bandoleras/bandolera3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bandolera Leopardo</h5>
            <p class="card-text"><b>Talles :</b> único<br><b>Material :</b> Cuerina <br><b>Codigo</b> : #1100</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1250
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/accesorios/bandoleras/bandolera4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bandolera Desigual</h5>
            <p class="card-text"><b>Talles :</b> único<br><b>Material :</b> Cuerina <br><b>Codigo</b> : #1200</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1150
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/accesorios/bandoleras/bandolera5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bandolera Celeste</h5>
            <p class="card-text"><b>Talles :</b> único<br><b>Material :</b> Cuerina <br><b>Codigo</b> : #1500</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1550
            </button>
        </div>
    </div>
   
    

{% endblock %}







