{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Camisetas
{% endblock %}

{% block content %}

    <h3 align="center">Camisetas</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Azul X</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #112</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1100
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Bad Black</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #125</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1000
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Lisa</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #101</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Letras</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #117</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1280
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Rayada</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #104</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1250
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Lisa Gris</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #160</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Scuadron 66</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #167</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1190
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Buda</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #126</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1400
            </button>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Rock</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #139</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Lisa Blanca</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #107</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Converse</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #189</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                1300
            </button>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Astronauta </h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #193</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1480
            </button>
   
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Carta</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #151</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1380
            </button>

        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta RockStyle</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #177</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/camisetas/camiseta15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camiseta Graffiti</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodon/Lycra  <br><b>Codigo :</b> #165</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1600
            </button>


        </div>
    </div>


{% endblock %}


