{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Joggins
{% endblock %}

{% block content %}

    <h3 align="center">Joggins</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Gris Nike</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #902</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $850
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Negro Nike</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #916</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $899
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Nike Bicolor</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #921</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Nike Bicolor</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #922</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Militar</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #991</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $999
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin BGC</h5>
           <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #936</br></p>
           <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            $1300
        </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Chupin 11°</h5>
           <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #999</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1280
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Kingpin Azul</h5>
           <p class="card-text"><b>Talles :</b> S,M,L,XL,XXL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #926</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin N/Y Amarillo</h5>
           <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #935</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1280
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Honda</h5>
           <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #940</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1400
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Leon Azul</h5>
           <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #997</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1600
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Blanco N/Y</h5>
           <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #906</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1250
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin NASA</h5>
           <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #985</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1580
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Chupin Rojo</h5>
           <p class="card-text"><b>Talles :</b> S;M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #970</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1600
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/joggins/joggin15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Joggin Militar Claro</h5>
           <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón  <br><b>Codigo :</b> #903</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1300
            </button>
        </div>
    </div>


{% endblock %}


