{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Remeras
{% endblock %}

{% block content %}

    <h3 align="center">Remeras</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Vans Gris</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #018</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $790
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Vans Blanca</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #010</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $790
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Los Ramones</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #062</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $800
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Nirvana</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #051</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $850
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Cara Nirvana</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #027</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $850
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Negra PSG</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #099</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $899
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Nike Verde</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #013</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Nike Negra</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #019</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera King</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #002</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $860
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Ballena</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #091</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $999
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Perrito Verde</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #028</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1200
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Gato C/Gafas</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #005</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                1250
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera California</h5>
            <p class="card-text"><b>Talles :</b> M,L<br><b>Material :</b> Algodón <br><b>Codigo</b> : #063</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $690
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Aviones</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #048</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $770
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/remeras/remera15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Remera Flores</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Algodón <br><b>Codigo</b> : #020</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $899
            </button>
        </div>
    </div>


{% endblock %}


