{% extends 'layouts/layoutropa.html' %}

{% load static %}


{% block title %}
    | Jeans
{% endblock %}

{% block content %}

    <h3 align="center">Jeans</h3>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jena Negro Chupin</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #821</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1700
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¡Importante!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Debido a la alta demanda, los pedidos se realizan solo a través de nuestro</strong></p>
                            <a href="https://www.instagram.com/dorita.indumentaria/" target="_blank"><img src="{% static 'images/instagram dorita.png' %}" id="insta"  /></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Azul Chupin</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #807</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1700
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Gris chupin</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL,XXL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #801</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1700
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean4.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Clasico Cortado</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #890</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1899
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean5.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Clasico Azul</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL,XXL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #838</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1950
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean6.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Chupin Cortado</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #820</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1699
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean7.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Jhon L.Cook</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #892</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1950
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Clasico Celeste</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #803</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1800
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Gris Cortado</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #886</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean10.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Estampado Perro</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #887</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1990
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean11.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Azul Opaco</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL,XXL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #894</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1799
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean12.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Gris Snoppy</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XXL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #838</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1980
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean13.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Chupin Celeste</h5>
            <p class="card-text"><b>Talles :</b> S,M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #842</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1599
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean14.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Estampado HL</h5>
            <p class="card-text"><b>Talles :</b> M,L,XL<br><b>Material :</b> Jean  <br><b>Codigo :</b> #814</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1799
            </button>
        </div>
    </div>
    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/hombre/jeans/jean15.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jean Estampado Alien</h5>
            <p class="card-text"><b>Talles :</b> S,M,L<br><b>Material :</b> Jean  <br><b>Codigo :</b> #821</br></p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                $1980
            </button>
        </div>
    </div>


{% endblock %}


